<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-Commerce Home</title>
  <!-- these 2 lines are needed to bring in bootstrap -->
  <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css}" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js}"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css}">
  <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<div class="header">
  <h1 class=" text-center mt-4  " >E-Commerce Platform</h1>
  <nav>
    <ul>
      <li> <a href="index.html">Home</a> </li>
      <li> <a href=""></a> </li>
      <li> <a href="">Products</a>  </li>
      <li> <a href="">Contact</a> </li>

      <li class=""> <a href="wishlist.html">WISHLIST(<span class="js-wishlist-quantity">0</span>)</a> </li>
      <li class=""> <a href="cart.html">CART(<span class="js-cart-quantity">0</span>)</a>  </li>

    </ul>
  </nav>
</div>


<div class="main">
  <div class="products-grid js-products-grid">

  </div>
</div>
<script src="wishlist.js"></script>
<script src="cart.js"></script>
<script src="products.js"></script>
<script src="home.js"></script>
</body>
</html>