<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Login Form Design | CodeLab</title>
<!--    <link rel="stylesheet" href="style.css">-->
    <link rel="stylesheet" th:href="@{/css/login/loginForm.css}">
</head>
<body>
<div class="wrapper">
    <div class="title">
        Login Form
    </div>
    <form method = "POST" th:action="@{/login/login}" th:object="${loginFormBean}">
<!--        <form method="post" th:action="@{/login/signUpForm}" th:object="${signUpForm}">-->
        <div class="field">
            <input type="text"  th:field="*{username}"> <br>
            <div th:if="${bindingResult != null && bindingResult.hasFieldErrors('username')} " >
                <p style="color: red">***Error - Email can not be empty</p>
<!--                <span th:text="${bindingResult.getFieldError()}"></span>-->
            </div>

            <label>Email Address</label>
        </div>
        <br>
        <div class="field">
            <input type="password"  th:field="*{password}">
            <div th:if="${bindingResult != null && bindingResult.hasFieldErrors('password')} " >
                <p style="color: red">***Error - Invalid password</p>
                <!--                <span th:text="${bindingResult.getFieldError()}"></span>-->
            </div>
            <label>Password</label>
        </div>
        <br>
        <div class="field">
            <input type="submit" value="Login">
        </div>
        <div class="signup-link">
            Not a member? <a th:href="@{/login/signUpForm}">Signup now</a>
        </div>
    </form>
</div>
</body>
</html>