<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Login Form Design | CodeLab</title>
<!--    <link rel="stylesheet" href="style.css">-->
    <link rel="stylesheet" th:href="@{/css/login/loginForm.css}">
</head>
<body>
<div class="wrapper">
    <div class="title">
        Logged Out Successfully
    </div>
    <form method = "POST" th:action="@{/login/login}" th:object="${loginForm}">
        <!--<form method="post" th:action="@{/login/signUpForm}" th:object="${signUpForm}">-->

        <div class="signup-link">
            want to sign in? <a th:href="@{/login/login}">Login now</a>
        </div>
    </form>
</div>
</body>
</html>