<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Responsive Registration Form | CodingLab </title>
<!--    <link rel="stylesheet" href="style.css">-->
    <link rel="stylesheet" th:href="@{/css/login/signUpForm.css}">
</head>
<body>
<div class="container">
    <!-- Title section -->
    <div class="title">Registration</div>
    <div class="content">
        <!-- Registration form -->
        <form method="post" th:action="@{/login/signUpForm}" th:object="${signupFormBean}">
<!--            <form th:action="@{/login/greeting}" th:object="${greeting}" method="post">    -->
            <div class="user-details">
                <!-- Input for First Name -->
                <div class="input-box">
                    <span class="details">First Name</span>
                    <input type="text" placeholder="Enter your first name" id="firstName" name="firstName" th:field="*{firstName}">
                    <div th:if="${bindingResult != null && bindingResult.hasFieldErrors('firstName')} " >
                        <p style="color: red">***Error - First Name Invalid</p>
                                        <span th:text="${bindingResult.getFieldError().getDefaultMessage()}"></span>
                    </div>
                </div>
                <!-- Input for Last Name -->
                <div class="input-box">
                    <span class="details">Last Name</span>
                    <input type="text" placeholder="Enter your last Name" required id="lastName" name="lastName" th:field="*{lastName}">
                </div>
                <!-- Input for Email -->
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="email" placeholder="Enter your email" required id="email" name="email" th:field="*{email}">
                </div>
                <!-- Input for Phone Number -->
                <div class="input-box">
                    <span class="details">Phone Number</span>
                    <input type="text" placeholder="Enter your number" required id="phone" name="phone" th:field="*{phone}">
                </div>
                <!-- Input for Password -->
                <div class="input-box">
                    <span class="details">Password</span>
                    <input type="password" placeholder="Enter your password" required id="firstPassword" name="firstPassword" th:field="*{firstPassword}">
                </div>
                <!-- Input for Confirm Password -->
                <div class="input-box">
                    <span class="details">Confirm Password</span>
                    <input type="password" placeholder="Confirm your password" required id="secondPassword" name="secondPassword" th:field="*{secondPassword}">
                </div>
                <!-- Input for Street address -->
                <div class="input-box">
                    <span class="details">Street</span>
                    <input type="text" placeholder="street address" required id="street" name="street" th:field="*{street}">
                </div>
                <!-- Input for City -->
                <div class="input-box">
                    <span class="details">City</span>
                    <input type="text" placeholder="city" required id="city" name="city" th:field="*{city}">
                </div>
                <!-- Input for State -->
                <div class="input-box">
                    <span class="details">State</span>
                    <input type="text" placeholder="State" required id="state" name="state" th:field="*{state}">
                </div>
                <!-- Input for Zip code -->
                <div class="input-box">
                    <span class="details">Zip Code</span>
                    <input type="text" placeholder="Zip code" required id="zipCode" name="zipCode" th:field="*{zipCode}">
                </div>
            </div>

            <!-- Submit button -->
            <div class="button">
                <input type="submit" value="Register">
            </div>
        </form>
    </div>
</div>
</body>
</html>